<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.dao.BookMapper">

    <select id="findByTitle">
        select * from bo_book_tbl where title = #{title}
    </select>


    <select id="findAll" resultType="com.example.demo.model.BookDto">
        select * from bo_book_tbl
    </select>

    <insert id="insertLibName">
        insert into mn_libinfo2_tbl (lib_name) values (#{libName})

    </insert>







</mapper>




